// O EQUIVALENTE A BRANCO
$branco   : #fff;

// OUTRAS CORES UTILIZADAS
$cor0     : #eee;
$cor1     : #222;
$cor1a    : #111;
$cor2     : #353535;
$cor3     : #4CC2E4;
$cor4     : #3778db;
$cor5     : #dda0dd; 
$cor6     : #c77feb;
$cor7     : #777;
$cor7a    : #444;
$cor8     : #888;
$cor9     : #999;
$cor9b    : #bbb;

// COR PADRÃO DO TEXTO
$textcor  : $cor0;

// HEADER
$HMestre   : $cor4;
$Header    : $cor2; 